.navbar-default {
  background-color: #47008F;
  border-color: #390072;
}
.navbar-default .navbar-brand {
  color: #c4cfd2;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #a3b4b8;
}
.navbar-default .navbar-text {
  color: #c4cfd2;
}
.navbar-default .navbar-nav > li > a {
  color: #c4cfd2;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #a3b4b8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #a3b4b8;
  background-color: #390072;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #a3b4b8;
  background-color: #390072;
}
.navbar-default .navbar-toggle {
  border-color: #390072;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #390072;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c4cfd2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c4cfd2;
}
.navbar-default .navbar-link {
  color: #c4cfd2;
}
.navbar-default .navbar-link:hover {
  color: #a3b4b8;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c4cfd2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a3b4b8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a3b4b8;
    background-color: #390072;
  }
}
